{
    "LineBotFunction": {
        "LINE_CHANNEL_SECRET": "",
        "LINE_CHANNEL_ACCESS_TOKEN": "",
        "AIRCONTROL_ENDPOINT": ""
    },
    "AirControlFunction": {
        "REMO_ACCESS_TOKEN": "",
        "REMO_APPLIANCE_ID": ""
    }
}