{
    "LineBot": {
        "SMARTHOME_ACCESS_TOKEN": "",
        "LINE_CHANNEL_SECRET": "",
        "LINE_CHANNEL_ACCESS_TOKEN": ""
    },
    "AirControl": {
        "SMARTHOME_ACCESS_TOKEN": "",
        "REMO_ACCESS_TOKEN": "",
        "REMO_APPLIANCE_ID": ""
    },
    "QoAir": {
        "SMARTHOME_ACCESS_TOKEN": "",
        "REDIS_HOST": "",
        "REDIS_PORT": "",
        "REDIS_PASSWORD": ""
    }
    "Graph": {
        "INFLUXDB_URL": "",
        "INFLUXDB_TOKEN": "",
        "INFLUXDB_ORGANIZATION": "",
        "INFLUXDB_BUCKET": "",
        "S3_BUCKET": ""
    },
    "LineBotPush": {
        "LINE_CHANNEL_ACCESS_TOKEN": ""
    }
}