{
    "LineBotFunction": {
        "LINE_CHANNEL_SECRET": "",
        "LINE_CHANNEL_ACCESS_TOKEN": "",
        "AIRCONTROL_ENDPOINT": "",
        "QOAIR_ENDPOINT": ""
    },
    "AirControlFunction": {
        "SMARTHOME_ACCESS_TOKEN": "",
        "REMO_ACCESS_TOKEN": "",
        "REMO_APPLIANCE_ID": ""
    },
    "QoAirFunction": {
        "SMARTHOME_ACCESS_TOKEN": "",
        "REDIS_HOST": "",
        "REDIS_PORT": "",
        "REDIS_PASSWORD": ""
    }
}